

<%= form_tag(@genre, { class: "genre_form" } ) do %>
    <h1>Add a Genre</h1>
    <% if @genre.errors.any? %>
        <div id="error_message">
            <h4>The following errors have occurred:</h4>
            <ul>
                <% @genre.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% if @genre.errors.empty? %>
        <div class="field">
    <% else %>
        <div class="field_with_errors">
    <% end %>
            <%= form_for(@genre) do |f| %>
                <%= f.text_field :genre_type, placeholder: true %>
                <%= f.submit "Add Genre" %><br><br>
            <% end %>
        </div>
<% end %>

<div class="go_back_link">
    <%= link_to "go back", user_path(current_user.id) %>
</div>