<h2>Sign Up Here!</h2>

<%= form_tag @user, method: 'post' do %>
    <% if @user.errors.any? %>
        <div id="error_message">
            <h4>The following errors have occurred:</h4>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% if @user.errors.empty? %>
        <div class="field">
    <% else %>
        <div class="field_with_errors">
    <% end %>
        <%= form_for @user, url:'/signup' do |f| %>

            <%= f.label :name %>
            <%= f.text_field :name %><br><br>

            <%= f.label :email %>
            <%= f.email_field :email %><br><br>

            <%= f.label :password %>
            <%= f.password_field :password %><br><br>

            <p>Immediately add a game to your collection at signup!</p>

            <%= f.fields_for :games do |game| %>
                <%= game.label :title %>
                <%= game.text_field :title, required: true %><br><br>

                <%= game.label :platform %>
                <%= game.text_field :platform, required: true %><br><br>

                <%= game.label :genre_type %>
                <%= game.collection_select :genre_id, Genre.all, :id, :genre_type %><br><br>

            <% end %>

            <%= f.submit "Sign Up" %>    
        <% end %>
    </div>        
<% end %>