<h1>Welcome <%= current_user.name %>!</h1>


<%= link_to 'Add a Game', new_user_game_path(@user) %> |
<%= link_to 'Add a Genre', new_genre_path %> |
<%= link_to 'See game collection', user_games_path(@user) %> |
<%= link_to 'Genre with the most games', genres_path %> |
<%= link_to 'log out', sessions_path, method: 'delete' %>

