<h1>Edit Game Details</h1>

<%= form_for(@game) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br><br>

    <%= f.label :platform %>
    <%= f.text_field :platform %><br><br>

    <%= f.label :genre_type %>
    <%= f.collection_select :genre_id, Genre.all, :id, :genre_type %><br><br>

    <%= f.submit "Edit Game" %>
<% end %>

<br>

<%= link_to "go back", user_game_path(current_user.id, @game) %>