<!DOCTYPE html>
<html>
  <head>
    <title>Videogame Collection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div>
  <% if logged_in? %>
    <%= link_to 'Add a game', new_game_path %> |
    <%= link_to 'Add a genre', new_genre_path %> |
    <%= link_to 'See all games', games_path %> |
    <%= link_to 'Seel all genres', genres_path %> |
    <%= link_to 'logout', sessions_path, method: 'delete' %>
  <% end %>
  </div>
    <%= yield %>
  </body>
</html>
