<!DOCTYPE html>
<html>
  <head>
    <title>Videogame Collection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="nav-bar">
  <% if logged_in? %>
    <%= link_to 'logout', sessions_path, method: :delete, data: { confirm: "Are you sure you want to logout?" } %><br> %>
  <% else %>
    <%= link_to 'signup', '/signup' %>
  <% end %>
   |
   <span>Video Game Collection</span>
  </div>
  
    <%= yield %>
  </body>
</html>
